/* Input Styles login */

::ng-deep .mat-input-element {
    caret-color: #000000;
}

::ng-deep .mat-form-field-label {
    color: #000000;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #000000;
}

/* Input focused */

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #000000;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #000000;
}

::ng-deep .mat-input-element::placeholder {
    color: #808080;
}

/* if disabled button form */

::ng-deep .mat-raised-button.mat-button-disabled.mat-button-disabled {
    background-color: #000000;
}

mat-form-field {
    width: 50%;
}

button {
    background-color: #000000;
}

.buttonStyle {
    position: absolute;
    right: 25%;
}

@media (max-width: 700px) {
    mat-form-field {
        width: 98%;
    }
    .buttonStyle {
        position: absolute;
        right: 1%;
    }
}