<div style="text-align: center;">

    <h1 style="font-size: 2.1rem; padding-top: 2%;">Alterar senha</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline">
            <mat-label>Código</mat-label>
            <input matInput type="text" formControlName="codigo">
            <mat-error *ngIf="form.controls.senha.hasError('required')">
                Favor inserir o <strong>código</strong>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput type="password" autocomplete="off" formControlName="senha">
            <mat-error *ngIf="form.controls.senha.hasError('required')">
                Favor inserir uma <strong>senha</strong>
            </mat-error>
            <mat-error *ngIf="form.controls.senha.hasError('minlength')">
                Favor inserir uma senha com no <strong>minímo 8 caracteres</strong>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Confirmar senha</mat-label>
            <input matInput type="password" autocomplete="off" formControlName="confirmarSenha"
                [errorStateMatcher]="matcher">
            <mat-error *ngIf="form.hasError('notSame')">
                Favor digitar a mesma senha inserida anteriormente
            </mat-error>
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="5px" class="buttonStyle">
            <button mat-raised-button fxFlexOrder="1" type="button" (click)="onCancel()">Voltar</button>
            <button mat-raised-button fxFlexOrder="2" type="submit" [disabled]="!form.valid || isLoading">
                <div style="position: absolute; width: 100%; height: 100%; align-content: center;">
                    <mat-spinner *ngIf="isLoading" diameter="30" style="position: absolute; left: 11%"></mat-spinner>
                </div>
                Confirmar
            </button>
        </div>

    </form>

</div>