/*--------------------------------------input style----------------------------------------*/

::ng-deep .mat-input-element {
    caret-color: #000000;
}

::ng-deep .mat-form-field-label {
    color: #000000;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #000000;
}

::ng-deep .mat-drawer-container {
    color: #000;
}

/* input focused*/

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #000000;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #000000;
}

::ng-deep .mat-input-element::placeholder {
    color: #808080;
}

/* progress spinner */

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: rgb(255, 255, 255, .3);
}

/*button styles*/

::ng-deep .mat-raised-button.mat-button-disabled.mat-button-disabled {
    background-color: #000000;
}

/*=======================================================================================*/

h1 {
    color: #000000;
    font-size: 2.1rem;
    margin-top: 2%;
}

/* Image styles*/

.imagePreviewBox {
    border: 1px solid #000000;
    border-radius: 4px;
    width: 230px;
    height: 230px;
}

.buttonImageSelect {
    margin-left: 5px;
    background-color: #000000;
}

.imagePreview {
    max-width: 230px;
    max-height: 230px;
    width: auto;
    height: auto;
}

mat-form-field {
    width: 70%;
}

button {
    background-color: #000000;
}

.buttonSubmitCancel {
    position: absolute;
    margin-top: 2%;
    margin-bottom: 2%;
    right: 15%;
}

@media screen and (max-width: 1000px) {
    mat-form-field {
        width: 98%;
    }
    .buttonSubmitCancel {
        position: absolute;
        margin-top: 2%;
        margin-bottom: 2%;
        right: 1%;
    }
}

/*==================================*/