mat-card {
    background-color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cardContent {
    text-align: center;
}

mat-card-content:hover {
    cursor: pointer;
}

.cardContent img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.cardContent h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.buttonNovaTurma {
    position: absolute;
    background-color: #000000;
    left: 8%;
    margin-top: 10px;
}

.divCardList {
    position: absolute;
    left: 8%;
    top: 60px;
}

@media (max-width: 599px) {
    .divCardList {
        position: absolute;
        left: 8%;
        top: 60px;
        width: 80%;
    }
    .cardContent h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}