<div>
    <button *ngIf="isTeacher" [routerLink]="['/novaturma']" mat-raised-button class="buttonNovaTurma"
        matTooltip="Criar um nova turma">
        Nova turma</button>

    <button *ngIf="!isTeacher" [routerLink]="['/buscarturma']" mat-raised-button class="buttonNovaTurma"
        matTooltip="Buscar turma">
        Buscar turma</button>
</div>

<div class="divCardList" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start" fxLayoutGap="10px">

    <mat-card class="mat-elevation-z6" *ngFor="let turma of turmas" fxFlex="200px" fxFlex.lt-md="200px"
        fxFlex.lt-sm="80">
        <!-- (click)="openTurma(turma.id)" -->
        <mat-card-content class="cardContent" (click)="openTurma(turma.id)">
            <div class=" imgTurma">
                <img src="{{turma.imagem}}" alt="">
            </div>
            <h2 matTooltip="Título da turma: {{ turma.titulo }}">{{ turma.titulo }}</h2>
            <h3 matTooltip="Código da turma">{{ turma.codigoAcesso }}</h3>
            <h3 style="margin-top: -20px;">{{ turma.quantidade }} alunos</h3>
        </mat-card-content>

        <mat-card-actions>
            <button *ngIf="isTeacher" mat-icon-button (click)="onDelete(turma.id)" matTooltip="Deletar turma">
                <i class="material-icons">delete_forever</i>
            </button>
        </mat-card-actions>

    </mat-card>
</div>