<mat-toolbar class="mat-elevation-z6">
    <button mat-icon-button (click)="toggleSideBar()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>ClassRPG</span>

    <button mat-icon-button [matMenuTriggerFor]="menu" style="position: absolute; right: 0;">
        <i class="material-icons">more_vert</i>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['configuracaousuario']">
            <mat-icon>settings</mat-icon>
            <span>Configurações do usuário</span>
        </button>
        <button mat-menu-item [routerLink]="['alterarsenha']">
            <mat-icon>vpn_key</mat-icon>
            <span>Alterar senha</span>
        </button>
        <button mat-menu-item (click)="onLogout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Sair</span>
        </button>
    </mat-menu>
</mat-toolbar>

<mat-drawer-container hasBackdrop="false">
    <!-- mode="side" #drawer  -->
    <mat-drawer #drawer [mode]="(screenWidth < 900) ? 'over' : 'side'" [opened]="sidenavOpen">
        <mat-nav-list>
            <img class="userImgData" src="{{ user.imagem }}" alt="">
            <h2 matTooltip="Nome de usuário">{{ user.nome }}</h2>
            <h4 matTooltip="Nickname: {{ user.nickname }}"> {{ user.nickname }}</h4>
            <h4 matTooltip="Quantidade de turmas criadas">{{ qtdTurmas }}
                turmas</h4>
        </mat-nav-list>

        <div class="buttonClose">
            <mat-divider></mat-divider>
            <a href="" (click)="onLogout()" matTooltip="Sair do sistema">
                <i class="material-icons">exit_to_app</i>
                <span>Sair</span>
            </a>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>