.buttonNovaRecompensa {
    position: absolute;
    background-color: #000000;
    left: 2%;
    margin-top: 10px;
}

.userImgData {
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 50%;
}

/* Table style*/

.mat-table {
    background: #000000;
}

mat-table {
    width: 95%;
    position: relative;
    top: 60px;
    left: 2%;
    right: 2%;
}

/*=============================================*/