.buttonNovaRecompensa {
    position: absolute;
    background-color: #000000;
    left: 2%;
    margin-top: 10px;
}

/* Table style*/

.mat-table {
    background: #000000;
}

mat-table {
    width: 95%;
    position: relative;
    top: 60px;
    left: 2%;
    right: 2%;
}

/*=============================================*/