<div style="text-align: center;">
    <h1 style="color: black; font-size: 2.1rem; margin-top: 2%;">Recompensas</h1>
</div>

<!-- class="buttonNovaRecompensa" -->
<div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5px" class="divButton">
    <button mat-raised-button matTooltip="Criar uma nova recompensa" routerLink="../criarrecompensa">Criar
        recompensa</button>

    <button mat-raised-button (click)="openDialog()"
        matTooltip="Definir intervalo de datas para que os alunos possam coletar uma recompensa">Data limite</button>
</div>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="margin-bottom: 2%;">

    <ng-container matColumnDef="imagem">
        <mat-header-cell *matHeaderCellDef>Imagem</mat-header-cell>
        <mat-cell *matCellDef="let recompensa">
            <img class="userImgData" src="{{ recompensa.imagem }}">
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="titulo">
        <mat-header-cell *matHeaderCellDef>Título</mat-header-cell>
        <mat-cell *matCellDef="let recompensa">{{ recompensa.nome }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nivel">
        <mat-header-cell *matHeaderCellDef matTooltip="Nível para obter a recompensa" matTooltipPosition="left">Nível
        </mat-header-cell>
        <mat-cell *matCellDef="let recompensa">{{ recompensa.nivel }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let recompensa">
            <button mat-icon-button matTooltip="Editar recompensa" routerLink="../editarrecompensa/{{ recompensa.id }}">
                <i class="material-icons edit">edit</i>
            </button>
            <button mat-icon-button (click)="onDelete(recompensa.id)" matTooltip="Deletar recompensa">
                <i class="material-icons delete">delete</i>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>