/*--------------------------------------input style----------------------------------------*/

::ng-deep .mat-input-element {
    caret-color: #000000;
}

::ng-deep .mat-form-field-label {
    color: #000000;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #000000;
}

::ng-deep .mat-drawer-container {
    color: #000;
}

/* input focused*/

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #000000;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #000000;
}

::ng-deep .mat-input-element::placeholder {
    color: #808080;
}

/* progress spinner */

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: rgb(255, 255, 255, .3);
}

/* if disabled button form */

::ng-deep .mat-raised-button.mat-button-disabled.mat-button-disabled {
    background-color: #000000;
}

/*=======================================================================================*/

button {
    background-color: #000000;
}

h1 {
    color: #000000;
    font-size: 2.1rem;
    margin-top: 2%;
}

mat-form-field {
    width: 50%;
}

.buttonSubmitCancel {
    position: absolute;
    margin-bottom: 2%;
    right: 25%;
}

@media screen and (max-width: 700px) {
    mat-form-field {
        width: 90%;
    }
    .buttonSubmitCancel {
        position: absolute;
        margin-top: 8%;
        margin-bottom: 2%;
        right: 5%;
    }
}