<h3 mat-dialog-title>Favor inserir seu e-mail</h3>
<mat-dialog-content>

    <form [formGroup]="emailForm">
        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-error
                *ngIf="emailForm.controls.email.hasError('email') && !emailForm.controls.email.hasError('required')">
                Por favor, insira um <strong>e-mail válido</strong>
            </mat-error>
            <mat-error *ngIf="emailForm.controls.email.hasError('required')">Favor informar o
                <strong>e-mail</strong>
            </mat-error>
        </mat-form-field>
        <br>
        <a (click)="navigateToPassword()" style="cursor: pointer;">Já tenho o token</a>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button [disabled]="!emailForm.valid || isLoading" (click)="sendEmail()">
        <div style="position: absolute; width: 100%; height: 100%; align-content: center;">
            <mat-spinner *ngIf="isLoading" diameter="30" style="position: absolute; left: 11%"></mat-spinner>
        </div>
        Confirmar
    </button>
</mat-dialog-actions>