.buttonNovoNivel {
    position: absolute;
    background-color: #000000;
    left: 2%;
    margin-top: 10px;
}

.divButton button {
    background-color: #000000;
    left: 2%;
}

.mat-table {
    background: #000000;
}

mat-table {
    width: 95%;
    position: relative;
    top: 20px;
    left: 2%;
    right: 2%;
}