/*--------------------------------------input style----------------------------------------*/

::ng-deep .mat-input-element {
    caret-color: #000000;
}

::ng-deep .mat-form-field-label {
    color: #000000;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #000000;
}

::ng-deep .mat-drawer-container {
    color: #000;
}

/* input focused*/

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #000000;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #000000;
}

::ng-deep .mat-input-element::placeholder {
    color: #808080;
}

/* Input Date*/

.mat-datepicker-toggle, .mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button {
    color: #000000;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused.mat-accent .mat-form-field-outline-thick {
    color: #000000;
}

.mat-form-field.mat-accent .mat-input-element {
    caret-color: #000000;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label.mat-accent {
    color: #000000;
}

.mat-datepicker-toggle-active.mat-accent {
    color: #000000;
}

/* Input Disabled*/

::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
    color: #000000;
}

::ng-deep .mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
    color: #000000;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
    color: #000000;
}

/*button styles*/

::ng-deep .mat-raised-button.mat-button-disabled.mat-button-disabled {
    background-color: #000000;
}

/*============================================================================================*/

h1 {
    color: #000000;
    font-size: 2.1rem;
    margin-top: 2%;
}

.inputTitulo {
    width: 47.5%;
}

.input {
    width: 64%;
}

.InputXP {
    width: 16%;
}

.InputDate {
    width: 23.3%;
}

.InputTime {
    width: 8%;
}

button {
    background-color: #000000;
}

.buttonSubmitCancel {
    position: absolute;
    right: 18%;
    margin-top: 1.5%;
}

@media screen and (max-width: 550px) {
    .inputTitulo {
        width: 65%;
    }
    .InputXP {
        width: 25%;
    }
    .input {
        width: 92%;
    }
    .InputDate {
        width: 62%;
    }
    .InputTime {
        width: 29%;
    }
    .buttonSubmitCancel {
        position: absolute;
        right: 3.5%;
        margin-top: 1.5%;
    }
}

@media screen and (min-width: 551px) and (max-width: 720px) {
    .inputTitulo {
        width: 65%;
    }
    .InputXP {
        width: 25%;
    }
    .input {
        width: 91%;
    }
    .InputDate {
        width: 28%;
    }
    .InputTime {
        width: 16%;
    }
    .buttonSubmitCancel {
        position: absolute;
        right: 4.5%;
        margin-top: 1.5%;
    }
}

@media screen and (min-width: 721px) and (max-width: 1078px) {
    .inputTitulo {
        width: 55%;
    }
    .InputXP {
        width: 25%;
    }
    .input {
        width: 80.5%;
    }
    .InputDate {
        width: 27%;
    }
    .InputTime {
        width: 12%;
    }
    .buttonSubmitCancel {
        position: absolute;
        right: 10%;
        margin-top: 1.5%;
    }
}

/* @media screen and (max-width: 320px) {
    .input {
        width: 99%;
    }
    .DateInput {
        width: 100%;
    }
    .XPInput {
        width: 98%;
    }
    .buttonSubmitCancel {
        position: absolute;
        right: 1%;
        margin-top: 1.5%;
    }
}

@media screen and (min-width: 321px) and (max-width: 420px) {
    .input {
        width: 99%;
    }
    .DateInput {
        width: 125px;
    }
    .XPInput {
        width: 95px;
    }
    .buttonSubmitCancel {
        position: absolute;
        right: 1%;
        margin-top: 1.5%;
    }
}

@media screen and (min-width: 421px) and (max-width: 569px) {
    .input {
        width: 99%;
    }
    .DateInput {
        width: 130px;
    }
    .XPInput {
        width: 95px;
    }
    .buttonSubmitCancel {
        position: absolute;
        right: 1%;
        margin-top: 1.5%;
    }
}

@media screen and (min-width: 570px) and (max-width: 762px) {
    .DateInput {
        width: 200px;
    }
    .XPInput {
        width: 100px;
    }
    .input {
        width: 90%;
    }
}

@media screen and (min-width: 570px) and (max-width: 1200px) {
    .input {
        width: 95%;
    }
    .buttonSubmitCancel {
        position: absolute;
        right: 3%;
        margin-top: 1.5%;
    }
} */