<div style="text-align: center; position: relative;">
    <h1 style="font-size: 2.1rem; margin-top: 2%;">Alunos</h1>
</div>

<mat-form-field style="position: absolute; left: 2%; width: 40%;" *ngIf="qtd_registros > 0">
    <mat-label>Filtrar aluno</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input autocomplete="off">
</mat-form-field>

<mat-table [dataSource]="dataSource" matSort matSortActive="usuario.nome" matSortDirection="asc"
    class="mat-elevation-z8" *ngIf="qtd_registros > 0">

    <ng-container matColumnDef="usuario.nome">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nome do aluno</mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.usuario.nome }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="usuario.nickname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nickname</mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.usuario.nickname }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="usuario.email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.usuario.email }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="experiencia">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Pontuação</mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.experiencia }} XP</mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let user">
            <button mat-icon-button (click)="openDetailsPersonagem(user)" matTooltip="Deletar atividade">
                <i class="material-icons">visibility</i>
            </button>
            <button mat-icon-button (click)="onDelete(user.id)" matTooltip="Deletar atividade">
                <i class="material-icons">delete</i>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Não foi possível buscar por "{{input.value}}"</td>
    </tr>
</mat-table>

<div *ngIf="qtd_registros === 0" style="color: #696969; text-align: center; position: relative; top: 10%">
    <i class="material-icons" style="font-size: 20em;">sentiment_very_dissatisfied</i>
    <br>
    <p style="font-style: italic;">Não há personagens cadastrados nesta turma</p>
</div>














<!-- <div class="titleComponent">
    <h1>Alunos</h1>
</div>

<mat-form-field style="position: absolute;left: 2%; width: 30%;">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input autocomplete="off">
</mat-form-field> -->