<div style="text-align: center;">
    <h1>Configuração de usuário</h1>
</div>

<form [formGroup]="formUsuario" (ngSubmit)="onSubmit()" style="text-align: center; margin-top: 2%;">

    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div class="imagePreviewBox" fxFlexOrder="1">
            <img class="imagePreview" [src]="imgURL" *ngIf="imgURL">
        </div>
        <input #file style="display: none;" id="inputFile" type="file" accept="image/*"
            (change)="imagePreview(file.files)">
        <label for="inputFile" class="mat-raised-button buttonImageSelect" fxFlexOrder="2">Selecionar imagem</label>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="center" style="margin-top: 1.5%;">
        <mat-form-field appearance="outline" class="inputNomeNickname">
            <mat-label>Nome completo</mat-label>
            <input matInput type="text" autocomplete="off" formControlName="nome">
            <mat-error *ngIf="formUsuario.controls.nome.hasError('required')">Favor informar o
                <strong>nome de usuário</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="inputNomeNickname">
            <mat-label>Nickname</mat-label>
            <input matInput type="text" autocomplete="off" formControlName="nickname">
            <mat-error *ngIf="formUsuario.controls.nickname.hasError('required')">Favor informar o
                <strong>nickname</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="inputStyle">
        <mat-label>E-mail</mat-label>
        <div fxLayout="row">
            <input matInput type="text" autocomplete="off" formControlName="email">
            <mat-icon>block</mat-icon>
        </div>

    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px" class="buttonSubmitCancel">

        <button mat-raised-button fxFlexOrder="1" type="button" (click)="onCancel()">Cancelar</button>

        <button mat-raised-button fxFlexOrder="2" type="submit" [disabled]="!formUsuario.valid || isLoading">
            <div style="position: absolute; width: 100%; height: 100%; align-content: center;">
                <mat-spinner *ngIf="isLoading" diameter="30" style="position: absolute; left: 11%">
                </mat-spinner>
            </div>
            Salvar
        </button>
    </div>

</form>