/*Tabs style*/

::ng-deep .mat-tab-label, .mat-tab-link {
    color: #000;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #000000;
}

/* Input Styles login */

::ng-deep .mat-input-element {
    caret-color: #000000;
}

::ng-deep .mat-form-field-label {
    color: #000000;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #000000;
}

/* Input focused */

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #000000;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #000000;
}
::ng-deep .mat-input-element::placeholder{
    color: #808080;
 }

/* Radio-Button */

::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #000000;
}

::ng-deep .mat-radio-outer-circle {
    border-color: #000000;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #000;
}

/* if disabled button form */

::ng-deep .mat-raised-button.mat-button-disabled.mat-button-disabled {
    background-color: #000000;
}
/* stroke color progress spinner*/
::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: rgb(255, 255, 255, .3);
}

.LoginCadastrar {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 400px;
}

.firstInput {
    margin-top: 2%;
    width: 100%;
}

.otherInput {
    width: 100%;
}

.buttonEntrar {
    background-color: #000000;
    width: 150px;
    float: right;
}

.buttonCadastrar {
    background-color: #000000;
    width: 150px;
    float: right;
    margin-top: 3%;
}

.forgetpassword {
    text-decoration: none;
    color: black;
    font-size: medium;
    cursor: pointer;
}

.imgLogo {
    position: absolute;
    left: 50%;
    top: 10%;
    width: 500px;
    height: 300px;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 50px;
}

/* Telefones em paisagem e abaixo */

@media (max-width: 709px) {
    /* estilos aqui */
    .LoginCadastrar {
        position: absolute;
        top: 2%;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .imgLogo {
        display: none;
    }
    .firstInput {
        margin-top: 2%;
        width: 99%;
    }
    .otherInput {
        width: 99%;
    }
    .buttonEntrar {
        background-color: #000000;
        width: 150px;
        float: right;
        margin-right: 1%;
    }
    .buttonCadastrar {
        background-color: #000000;
        width: 150px;
        float: right;
        margin-top: 3%;
        margin-right: 1%;
        margin-bottom: 1%;
    }
    .forgetpassword {
        text-decoration: none;
        color: black;
        font-size: medium;
        float: left;
        margin-left: 1%;
        cursor: pointer;
    }
}

/* Telefones em paisagem a tablet em retrato */

@media (min-width: 710px) and (max-width: 767px) {
    /* estilos aqui */
    .LoginCadastrar {
        position: absolute;
        top: 2%;
        left: 0;
        width: 50%;
        text-align: center;
    }
    .firstInput {
        margin-top: 2%;
        width: 99%;
    }
    .otherInput {
        width: 99%;
    }
    .buttonEntrar {
        background-color: #000000;
        width: 150px;
        float: right;
        margin-right: 1%;
    }
    .buttonCadastrar {
        background-color: #000000;
        width: 150px;
        float: right;
        margin-top: 3%;
        margin-right: 1%;
        margin-bottom: 1%;
    }
    .forgetpassword {
        text-decoration: none;
        color: black;
        font-size: medium;
        float: left;
        margin-left: 1%;
        cursor: pointer;
    }
    .imgLogo {
        position: fixed;
        left: 46%;
        top: 10%;
        width: 420px;
        height: 250px;
    }
}

/* Tablet em retrato a paisagem e desktop */

@media (min-width: 768px) and (max-width: 1010px) {
    /* estilos aqui */
    .LoginCadastrar {
        position: absolute;
        top: 10%;
        left: 0;
        width: 50%;
        text-align: center;
    }
    .firstInput {
        margin-top: 2%;
        width: 99%;
    }
    .otherInput {
        width: 99%;
    }
    .buttonEntrar {
        background-color: #000000;
        width: 150px;
        float: right;
        margin-right: 1%;
    }
    .buttonCadastrar {
        background-color: #000000;
        width: 150px;
        float: right;
        margin-top: 3%;
        margin-right: 1%;
        margin-bottom: 1%;
    }
    .forgetpassword {
        text-decoration: none;
        color: black;
        font-size: medium;
        float: left;
        margin-left: 1%;
        cursor: pointer;
    }
    .imgLogo {
        position: fixed;
        left: 48%;
        top: 10%;
        width: 450px;
        height: 250px;
    }
}