<div class="LoginCadastrar">
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Login">

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <mat-form-field appearance="outline" class="firstInput">
                    <mat-label>E-mail</mat-label>
                    <input matInput formControlName="email" type="email">
                    <mat-error
                        *ngIf="loginForm.controls.email.hasError('email') && !loginForm.controls.email.hasError('required')">
                        Por favor, insira um <strong>e-mail válido</strong>
                    </mat-error>
                    <mat-error *ngIf="loginForm.controls.email.hasError('required')">Favor informar o
                        <strong>e-mail</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="otherInput">
                    <mat-label>Senha</mat-label>
                    <input matInput formControlName="senha" type="password">
                    <mat-error *ngIf="loginForm.controls.senha.hasError('required')">Favor informar a
                        <strong>senha</strong>
                    </mat-error>
                </mat-form-field>

                <a (click)="forgetPassword()" class="forgetpassword">Esqueci minha senha</a>
                <button class="buttonEntrar" mat-raised-button [disabled]="!loginForm.valid || isLoginLoading">
                    <div style="position: absolute;">
                        <mat-spinner *ngIf="isLoginLoading" diameter="29" style="bottom: 0;"></mat-spinner>
                    </div>
                    Entrar
                </button>
            </form>

        </mat-tab>

        <mat-tab label="Cadastrar">
            <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubimit()">

                <mat-form-field appearance="outline" class="firstInput">
                    <mat-label>Nome completo</mat-label>
                    <input matInput formControlName="nome">
                    <mat-error *ngIf="registerForm.controls.nome.hasError('required')">Favor informar seu
                        <strong>nome completo</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="otherInput">
                    <mat-label>E-mail</mat-label>
                    <input matInput formControlName="email" type="email">
                    <mat-error
                        *ngIf="registerForm.controls.email.hasError('email') && !registerForm.controls.email.hasError('required')">
                        Por favor, insira um <strong>e-mail válido</strong>
                    </mat-error>
                    <mat-error *ngIf="registerForm.controls.email.hasError('required')">Favor informar o
                        <strong>e-mail</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="otherInput">
                    <mat-label>Nickname</mat-label>
                    <input matInput formControlName="nickname">
                    <mat-error *ngIf="registerForm.controls.nickname.hasError('required')">
                        Favor insirir um <strong>nickname</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="otherInput">
                    <mat-label>Senha</mat-label>
                    <input matInput formControlName="senha" type="password"
                        placeholder="Insira uma senha com no mínimo 8 caracteres">
                    <mat-error *ngIf="registerForm.controls.senha.hasError('required')">
                        Favor inserir uma <strong>senha</strong>
                    </mat-error>
                    <mat-error *ngIf="registerForm.controls.senha.hasError('minlength')">
                        Favor inserir uma senha com no <strong>minímo 8 caracteres</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="otherInput">
                    <mat-label>Confirmar senha</mat-label>
                    <input matInput formControlName="confirmarSenha" type="password" [errorStateMatcher]="matcher"
                        placeholder="Confirme a senha digitada anteriormente">
                    <mat-error *ngIf="registerForm.hasError('notSame')">
                        Favor digitar a mesma senha inserida anteriormente
                    </mat-error>
                </mat-form-field>

                <div style="text-align: center;" formGroupName="tipoUsuario">
                    <mat-radio-group aria-label="Select an option" formControlName="id">
                        <mat-radio-button value="1">Aluno</mat-radio-button>
                        <mat-radio-button value="2">Professor</mat-radio-button>
                    </mat-radio-group>
                </div>

                <button class="buttonCadastrar" mat-raised-button [disabled]="!registerForm.valid || isRegisterLoading">
                    <div style="position: absolute;">
                        <mat-spinner *ngIf="isRegisterLoading" diameter="29" style="bottom: 0;"></mat-spinner>
                    </div>
                    Cadastrar
                </button>

            </form>
        </mat-tab>
    </mat-tab-group>
</div>

<img src="assets/LoginLOGO.png" alt="" class="imgLogo">