<h3 mat-dialog-title>Definir data limite
    <i class="material-icons" style="font-size: 23px ;cursor: pointer;"
        matTooltip="O intervalo de datas informadas abaixo é para que os alunos consigam ver as recompensas disponíveis para ele conforme seu nível. Caso não esteja preenchido nenhuma data, significa que está desativado a opção de coleta para os alunos">help_outline</i>
</h3>

<form [formGroup]="data_limite_form" (ngSubmit)="onSubmit()">


    <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="5px">
        <mat-form-field color="accent" appearance="outline">
            <mat-label>Data inicial</mat-label>
            <input matInput [matDatepicker]="picker1" autocomplete="off" [min]="minDate" formControlName="data_inicial">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent" style="width: 100px;">
            <mat-label>Horário inicial</mat-label>
            <input matInput type="time" name="horarioInicial" autocomplete="off" formControlName="hora_inicial">
        </mat-form-field>

    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="5px">

        <mat-form-field color="accent" appearance="outline">
            <mat-label>Data final</mat-label>
            <input matInput [matDatepicker]="picker2" autocomplete="off" [min]="minDate" formControlName="data_final">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent" style="width: 100px;">
            <mat-label>Horário final</mat-label>
            <input matInput type="time" name="horarioInicial" autocomplete="off" formControlName="hora_final" required>
        </mat-form-field>
    </div>


    <!-- [mat-dialog-close]="onSubmit()" -->
    <div fxLayout="row wrap" fxLayoutAlign="end" fxLayoutGap="5px">
        <button mat-button [mat-dialog-close]=false>Cancelar</button>
        <button mat-button type="submit" [disabled]="!data_limite_form.valid">Confirmar</button>
    </div>

</form>